* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: #95a5a6;

}


a {
  color: #fff;
}

.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}


