
#Home {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    padding: 40px;

}
.intro {
    display: flex;
    flex-direction: column;

    padding: 0 0 0 200px;
   
}
.yellowBox {
    display: flex; 
}


.yellowBox h1{
    background-color: #d9f24f;
    color: #000;
    transform: rotate(-3deg);
    padding: 10px;

}

h1,h2 {
    font-size: 3.5rem;
    color: #fff;
}

.ballBox {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  
    position: fixed;
    bottom: 50px;
    right: 30px;
  
}
.ball {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 150px;
    position: relative;
    cursor: pointer;
    bottom: 20px;
    background: radial-gradient(circle, at 75% 30%, #fff 5px, #a16bfe 8%, #7327f5 60%, #a16bfe 100%);
    border-radius: 50%;
    box-shadow: inset 0 0 30px #bd75be,
                inset 10px 0 46px #eaf5fc,
                inset -20px -60px 100px #fde9ea,
                inset 0 50px 140px #fde9ea,
                0 0 90px #fff
    ;
animation: float 3.5s ease-in-out infinite
}

@keyframes float{
    0%, 100% {
        transform: translateY(0px)
    }
    50% {
        transform: translateY(-80px);
    }
}

.shadow {
    width: 110px;
    height: 20px;
    top: 95%;
    position: absolute;
    background: #b490b2;
    animation: expand 3.5s infinite;
    border-radius: 50%;
}

@keyframes expand {
    0%, 100% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1);
    }
}
