.navBar {
    display: flex;
    justify-content: end;
}

.navBar ul {

    list-style: none;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 30px;
    right: 30px;
    
    
}



.navBar li {
    margin: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 1.8rem;
}

a {
    text-decoration: none;
    color: #fff;
}